<div class="content-box">
    <div class="page-title-area pb-2 mb-2">
        <a class="back-btn" (click)="backTo()"><i class="las la-arrow-circle-left"></i></a>
        <h1 class="f-l">Schedule Induction</h1>
    </div>
    <div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>{{inductionType}} ID</label>
                    <input type="text" class="form-control" [(ngModel)]="inductionTypeNo" disabled>
                </div>
            </div>
            <div class="col-md-2" style="display: none;">
                <div class="form-group">
                    <label>Select Template</label>
                    <ng-select bindLabel="templateName" [placeholder]="'Select'" [appendTo]="'body'" [multiple]="false"
                        [searchable]="false" [clearable]="false" [(ngModel)]="templateId">
                        <ng-option [value]="rec.templateId" *ngFor="let rec of templates">
                            {{rec.templateName}}
                        </ng-option>
                    </ng-select>
                </div>
            </div>
        </div>
        <!-- <div *ngIf="mode!='View'"> -->
        <!-- <form [formGroup]="inductionForm" (ngSubmit)="btnAddInductionDetails()" autocomplete="off"> -->
        <div class="row" style="display: none;">
            <div class="col-md-2">
                <label>From Date</label>
                <div class="input-group datepiker date">
                    <input type="text" class="form-control pull-right datepicker" id="fromdatepicker"
                        placeholder="From Date" #fromDate autocomplete="off">
                    <div class="input-group-append">
                        <!-- formControlName="fromDate" -->
                        <span class="input-group-text" id="basic-addon2"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label>To Date</label>
                <div class="input-group datepiker date">
                    <input type="text" class="form-control pull-right datepicker" id="todatepicker"
                        placeholder="To Date" #toDate autocomplete="off" [disabled]="disabledField">
                    <!-- formControlName="toDate" -->
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Location</label>
                    <ng-select bindLabel="locationNo" [placeholder]="'Select'" [appendTo]="'body'" [multiple]="false"
                        [searchable]="false" [clearable]="false" [(ngModel)]="locationID" [disabled]="disabledField">
                        <!--  formControlName="locationId" -->
                        <ng-option [value]="rec.locationId" *ngFor="let rec of locations">
                            {{rec.locationNo}}
                        </ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Coordinator</label>
                    <ng-select bindLabel="employeeName" [placeholder]="'Select'" [appendTo]="'body'" [multiple]="false"
                        [searchable]="false" [clearable]="false" [(ngModel)]="coordinatorID" [disabled]="disabledField">
                        <!-- formControlName="onBordingCoordinatorId" -->
                        <ng-option [value]="rec.autoUserId" *ngFor="let rec of onBoardingCoordinatorList">
                            {{rec.employeeName}}
                        </ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-md-4 mt-md-4" *ngIf="!disabledField">
                <button type="submit" class="btn btn-black btn-sm" (click)="btnAddInductionDetails()"><i
                        class="las la-plus"></i> Add</button>
                <button type="button" class="btn btn-secondary btn-sm ml-2" (click)="BtnResetClick()"><i
                        class="las la-sync-alt"></i>
                    Reset</button>
            </div>
        </div>
        <!-- </form> -->
        <!-- </div> -->
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th
                        style="min-width: 220px; max-width: 220px; position: sticky; left: 0; z-index: 9; background: #efefef;">
                        Training Title</th>
                    <th
                        style="min-width: 154px; max-width: 154px; position: sticky; left: 220px; z-index: 9; background: #efefef;">
                        Date</th>
                    <th style="min-width: 110px;">From Time</th>
                    <th style="min-width: 110px;">To Time</th>
                    <th style="width: 260px;" *ngIf="isForBatch">Candidates</th> <!-- Added for multiple schedule -->
                    <th style="min-width: 260px;">Details of sessions</th>
                    <th style="min-width: 160px;">{{trainerTypename}}</th>
                    <th style="min-width: 100px;">Mode</th>
                    <th>Location</th>
                    <th style="min-width: 160px;">Venue</th>
                    <th>Coordinator</th>
                    <th style="min-width: 300px;">Remarks</th>
                    <th *ngIf="mode!='View'" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of inductionScheduleDetailsList">
                    <td>
                        <input type="text" class="form-control" placeholder="Enter Title" [(ngModel)]="data.traingTitle"
                            [readonly]="data.readOnly">
                    </td>
                    <td>{{data.dateFrom}}-{{data.dateTo}}</td>
                    <td>
                        <div class="input-group timepik date">
                            <input id="timepicker1" type="time" class="form-control input-small timepik"
                                placeholder="H:M" [(ngModel)]="data.timeFrom" [readonly]="data.readOnly">
                            <!-- <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><i class="fa fa-clock-o"></i></span>
                            </div> -->
                        </div>
                    </td>
                    <td>
                        <div class="input-group timepik date">
                            <input id="timepicker2" type="time" class="form-control input-small timepik"
                                placeholder="H:M" [(ngModel)]="data.timeTo" [readonly]="data.readOnly">
                            <!-- <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><i class="fa fa-clock-o"></i></span>
                            </div> -->
                        </div>
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Enter Details"
                            [(ngModel)]="data.detailsofSession" [readonly]="data.readOnly">
                    </td>
                    <td>
                        <ng-select bindLabel="employeeName" [placeholder]="'Select'" [appendTo]="'body'"
                            [multiple]="false" [searchable]="false" [clearable]="false" [(ngModel)]="data.trainer"
                            [readonly]="data.readOnly">
                            <ng-option [value]="rec.autoUserId" *ngFor="let rec of roleWiseUser">
                                {{rec.employeeName}}
                            </ng-option>
                        </ng-select>
                    </td>
                    <td>
                        <ng-select bindLabel="inductionModeName" [placeholder]="'Select'" [appendTo]="'body'"
                            [multiple]="false" [searchable]="false" [clearable]="false" [(ngModel)]="data.inductionMode"
                            [readonly]="data.readOnly">
                            <ng-option [value]="rec.inductionModeId" *ngFor="let rec of inductionModes">
                                {{rec.inductionModeName}}
                            </ng-option>
                        </ng-select>
                    </td>
                    <td>{{getLocationName(data.location)}}</td>
                    <td>
                        <ng-select bindLabel="reportingVenueName" [placeholder]="'Select'" [appendTo]="'body'"
                            [multiple]="false" [searchable]="false" [clearable]="false"
                            [(ngModel)]="data.inductionVenue" [readonly]="data.readOnly">
                            <ng-option [value]="rec.reportingVenueId" *ngFor="let rec of venues">
                                {{rec.reportingVenueName}}
                            </ng-option>
                        </ng-select>
                    </td>
                    <td>{{getCoordinatorName(data.inductionCoOrdinator)}}</td>
                    <td>
                        <input type="text" class="form-control" placeholder="Enter Details" [readonly]="data.readOnly"
                            [(ngModel)]="data.remarks">
                    </td>
                    <td *ngIf="mode!='View'" class="text-center"><a href="javascript:void(0)" class="row-btn"
                            (click)="onClickAddIcon(data)">+</a> </td>
                </tr>
                <tr *ngFor="let data of inductionScheduleDetailsNonEditableList">
                    <td
                        style="min-width: 220px; max-width: 220px; position: sticky; left: 0; z-index: 9; background: inherit;">
                        {{data.traingTitle}}</td>
                    <td
                        style="min-width: 154px; max-width: 154px; position: sticky; left: 220px; z-index: 9; background: inherit;">
                        {{data.dateFrom}}-{{data.dateTo}}</td>
                    <td>{{data.readOnly?data.timeFrom:getFormatedTime(data.timeFrom)}}</td>
                    <td>{{data.readOnly?data.timeTo:getFormatedTime(data.timeTo)}}</td>
                    <td *ngIf="isForBatch">
                        <a href="javascript:vpoid(0)" data-toggle="modal" data-target="#candidatelistpreview"
                            (click)="onClickCandidateList(data.batchCandidateIds)">Candidate
                            List</a>
                    </td>
                    <td>{{data.detailsofSession}}</td>
                    <!-- <td>{{getTrainerName(data.trainer)}}</td> -->
                    <td>{{data.trainer}}</td>
                    <td>{{getInductionModeName(data.inductionMode)}}</td>
                    <!-- <td>{{getLocationName(data.location)}}</td> -->
                    <td>{{data.location}}</td>
                    <!-- <td>{{getVenueName(data.inductionVenue)}}</td> -->
                    <td>{{data.inductionVenue}}</td>
                    <td>{{getCoordinatorName(data.inductionCoOrdinator)}}</td>
                    <td>{{data.remarks}}</td>
                    <td *ngIf="mode!='View'" class="text-center"><a href="javascript:void(0)" class="row-btn"
                            (click)="onClickDelete(data)"><i class="las la-trash-alt"></i></a> </td>
                </tr>

            </tbody>
        </table>
    </div>
    <!-- <div class="mt-4" *ngIf="!disabledField">
        <button type="button" class="btn btn-primary" (click)="onFinalSubmit()">Submit</button>
        <button type="button" class="btn btn-secondary ml-2" (click)="onFinalReset()"><i class="las la-sync-alt"></i>
            Reset</button>
    </div> -->
</div>

<!-- Candidate List Preview Modal Start -->

<div class="modal fade" id="candidatelistpreview" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="previewCloseModal" class="close" data-toggle="modal"
                    data-target="#candidatelistpreview"><i class="las la-times"></i></button>
                <h4 class="modal-title">Candidate Details </h4>
            </div>
            <div class="modal-body popup-maxheigth-500">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-striped" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Sl. No.</th>
                                    <th>Candidate No</th>
                                    <th>Candidate Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of candidatePreviewList; let i = index;">
                                    <td>{{i+1}}</td>
                                    <td><a href="javascript:void(0)" class="red">{{item.candidateNo}} </a></td>
                                    <td>{{item.candidateName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Candidate List Preview Modal End -->