<!-- <div class="header">
    <div class="d-flex justify-content-center"><img src="assets/images/logo.png" alt=""></div>
</div> -->
<!-- <div class="login-new">
    <div class="container-fluid"> -->
        <!-- <div class="row">
            <div class="col-md-7 login_bg">
                <img src="assets/images/banner.jpg" alt="">
                
            </div>
            <div class="col-md-5 login-card"> -->
                <router-outlet></router-outlet>
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div>
</div> -->