<div class="content-box m-b-15 m-t-10">
    <div class="page-title-area pb-2 mb-2">
        <a href="#" class="back-btn"><i class="las la-arrow-circle-left"></i></a>
        <h1 class="f-l">Joining Checklist</h1>
    </div>
    <div>
        <div class="form-row align-items-center">
            <div class="col-md-3">
                <p class="d-inline-block grey">Candidate ID:</p>
                <p class="d-inline-block">CAND0011</p>
            </div>
            <div class="col-md-3">
                <p class="d-inline-block grey">Name:</p>
                <p class="d-inline-block">Sample</p>
            </div>
            <div class="col-md-3">
                <p class="d-inline-block grey">Posting Location:</p>
                <p class="d-inline-block">Sample</p>
            </div>
            <div class="col-md-3">
                <p class="d-inline-block grey">Designation:</p>
                <p class="d-inline-block">Sample</p>
            </div>
        </div>
        <div class="form-row align-items-center">
            <div class="col-md-3">
                <p class="d-inline-block grey">Grade:</p>
                <p class="d-inline-block">Sample</p>
            </div>
            <div class="col-md-3">
                <p class="d-inline-block grey">DOJ:</p>
                <p class="d-inline-block">10/10/2021</p>
            </div>
        </div>
        <hr>
    </div>
    <div>
        <h6 class="red text-uppercase">Onboarding Checklist</h6>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 40px;">Sl. No.</th>
                        <th>Document Name</th>
                        <th>Status</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">1</td>
                        <td>MRF PPF</td>
                        <td class="green" style="width: 130px;">Verified</td>
                        <td><textarea class="form-control"></textarea></td>
                    </tr>
                    <tr>
                        <td class="text-center">2</td>
                        <td>Resume</td>
                        <td class="green" style="width: 130px;">Verified</td>
                        <td><textarea class="form-control"></textarea></td>
                    </tr>
                    <tr>
                        <td class="text-center">3</td>
                        <td>Interview Assessment</td>
                        <td class="yellow" style="width: 130px;">Pending</td>
                        <td><textarea class="form-control"></textarea></td>
                    </tr>
                </tbody>
            </table>    
        </div>
    </div>
    <div class="mt-4">
        <button type="button" class="btn btn-black mr-2">Save</button>
        <button type="button" class="btn btn-primary">Cancel</button>
    </div>
</div>