<div class="content-box m-b-15 m-t-10" *ngFor="let data of candidates">
    <div class="page-title-area pb-2 mb-2">
        <a href="javascript:void(0)" (click)="gotoCandidatelist()" class="back-btn"><i class="las la-arrow-circle-left"></i></a>
        <h1 class="f-l">Candidate Details</h1>


    </div>
    <div class="candidate-info-header mb-4">
        <div class="d-flex align-items-center mb-2">
            <div class="col">
                <h6 class="red d-inline-block mt-1">{{data.prefixName}} {{data.fullName}} ({{data.candidateNo}})</h6>
                <span> {{data.emailId}}</span>
            </div>
            <div class="col" *ngIf="data.hiringStatusId!=1">
                <span [class]="data.hiringStatusId!=4?'badge badge-pill badge-success':'badge badge-pill badge-danger'">{{data.hiringStatusName}}</span>
            </div>
        </div>
        <div class="pb-1">
            <span class="mr-3"><i class="las la-mobile"></i> {{data.contactNo}}</span><span><i
                    [class]="data.genderName=='Male'?'las la-male':'las la-female'"></i> {{data.genderName}}</span>
        </div>

    </div>
    <div class="form-row">
        <div class="col-md-3">
            <p class="d-inline-block grey">Age :</p>
            <p class="d-inline-block">{{data.age}}Yrs</p>
        </div>
        <div class="col-md-3">
            <p class="d-inline-block grey">Aadhar No. :</p>
            <p class="d-inline-block">{{data.aadharNo}}</p>
        </div>
        <div class="col-md-3">
            <p class="d-inline-block grey">Mother Tongue :</p>
            <p class="d-inline-block">{{data.motherTongueName}}</p>
        </div>
        <div class="col-md-3">
            <p class="d-inline-block grey">Languages Known :</p>
            <p class="d-inline-block">{{data.languageNames}}</p>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3">
            <p class="d-inline-block grey">Highest Qualification :</p>
            <p class="d-inline-block">{{data.qualificationName}}</p>
        </div>
        <div class="col-md-3">
            <p class="d-inline-block grey">Course :</p>
            <p class="d-inline-block">{{data.courseName}}</p>
        </div>
        <div class="col-md-3">
            <p class="d-inline-block grey">Stream :</p>
            <p class="d-inline-block">{{data.streamName}}</p>
        </div>
        <div class="col-md-3">
            <p class="d-inline-block grey">Percentage :</p>
            <p class="d-inline-block">{{data.marksPercentage}}%</p>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3">
            <p class="d-inline-block grey">Year of Completion :</p>
            <p class="d-inline-block">{{data.completionYear}}</p>
        </div>
        <div class="col-md-3">
            <p class="d-inline-block grey">Qualification Type :</p>
            <p class="d-inline-block">{{data.qualificationTypeName}}</p>
        </div>
        <div class="col-md-3">
            <p class="d-inline-block grey">Total Experience :</p>
            <p class="d-inline-block">{{data.experienceYear}}years {{data.experienceMonth}} months</p>
        </div>
        <div class="col-md-3">
            <p class="d-inline-block grey">Current CTC :</p>
            <p class="d-inline-block">{{data.currentCTC}}</p>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3">
            <p class="d-inline-block grey">Current Employer :</p>
            <p class="d-inline-block">{{data.currentEmployer}}</p>
        </div>
        <div class="col-md-3">
            <p class="d-inline-block grey">Designation :</p>
            <p class="d-inline-block">{{data.currentDesignation}}</p>
        </div>
        <div class="col-md-3">
            <p class="d-inline-block grey">Domain :</p>
            <p class="d-inline-block">{{data.domainName}}</p>
        </div>
        <div class="col-md-3">
            <p class="d-inline-block grey">Sub-Domain :</p>
            <p class="d-inline-block">{{data.subDomainName}}</p>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3">
            <p class="d-inline-block grey">Current Location :</p>
            <p class="d-inline-block">{{data.stateName}}</p>
        </div>
        <div class="col-md-6">
            <p class="d-inline-block grey">Any Previous Application History in MRF :</p>
            <p class="d-inline-block">{{data.previousAppliedName}}</p>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3">
            <p class="d-inline-block grey">Any relative Working on MRF :</p>
            <p class="d-inline-block">{{data.relativeStatusName}}</p>
        </div>
        <div class="col-md-3" *ngIf="data.relativeStatus!=0">
            <p class="d-inline-block grey">Relative Name :</p>
            <p class="d-inline-block">{{data.relativeName}}</p>
        </div>
        <div class="col-md-3" *ngIf="data.relativeStatus!=0">
            <p class="d-inline-block grey">Relative Contact No :</p>
            <p class="d-inline-block">{{data.relativeContactNo}}</p>
        </div>
    </div>
    <div class="form-row"  *ngIf="data.parentRelationshipId!=0">
        <div class="col-md-3">
            <p class="d-inline-block grey">Referee's Relation /Familarity :</p>
            <p class="d-inline-block">{{data.parentRelationshipName}}</p>
        </div>
        <div class="col-md-3" *ngIf="data.childRelationshipId!=0">
            <p class="d-inline-block grey">Relation Details :</p>
            <p class="d-inline-block">{{data.childRelationshipName}}</p>
        </div>
    </div>
    <div class="form-row"  *ngIf="data.relationshipNotes!=''">
        <div class="col-md-12">
            <p class="d-inline-block grey">Relationship/Familarity Details :</p>
            <p class="d-inline-block">{{data.relationshipNotes}}</p>
        </div>
    </div>
    
    <div class="form-row"  *ngIf="data.cmdApprovalRequired!=0">
        <div class="col-md-3">
            <p class="d-inline-block grey">Cmd Approval Required :</p>
            <p class="d-inline-block" *ngIf="data.cmdApprovalRequired==0">No</p>
            <p class="d-inline-block" *ngIf="data.cmdApprovalRequired==1">Yes</p>
        </div>
        <div class="col-md-3" *ngIf="data.cmdApprovalRequired==1">
            <p class="d-inline-block grey">Cmd Approval Status :</p>
            <p class="d-inline-block" *ngIf="data.cmdApprovalStatus==0">No</p>
            <p class="d-inline-block" *ngIf="data.cmdApprovalStatus==1">Yes</p>
        </div>
        <div class="col-md-3" *ngIf="data.cmdApprovalNo!=''">
            <p class="d-inline-block grey">Cmd Approval No :</p>
            <p class="d-inline-block">{{data.cmdApprovalNo}}</p>
        </div>
    </div>
    <div class="form-row mt-3">
        <div class="col-md-6" *ngIf="data.cmdApprovalNo!=''">
            <p>CMD Approval Documnet :</p>
            <div class="attach-file">
                <a (click)="openFile(data.cmdApprovalDocument)" style="cursor: pointer;" title="Download"><i class="las color-black la-paperclip"></i>CMD Approval doc </a>
                <a (click)="openFile(data.cmdApprovalDocument)" style="cursor: pointer;"><i class="las la-download red"></i></a>
            </div>
        </div>
        <div class="col-md-6">
            <p>Resume :</p>
            <div class="attach-file">
                <a (click)="openFile(data.resume)" style="cursor: pointer;" title="Download"><i class="las color-black la-paperclip"></i>Resume doc </a>
                <a (click)="openFile(data.resume)" style="cursor: pointer;"><i class="las la-download red"></i></a>
            </div>
        </div>
    </div>
    <div *ngIf="data.hiringStatusId==2">
        <hr>
        <h6 class="red">Take Action</h6>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="rdio rdio-primary d-inline-block">
                        <input name="HiringStatusId" [value]="3" id="radio2" [(ngModel)]="hiringStatusId" type="radio"
                            checked="">
                        <label for="radio2">Shortlist</label>
                    </div>
                    <div class="rdio rdio-primary d-inline-block">
                        <input name="HiringStatusId" [value]="4" id="radio3" [(ngModel)]="hiringStatusId" type="radio"
                            checked="">
                        <label for="radio3">Reject</label>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>Remarks</label>
                    <textarea class="form-control" [(ngModel)]="remarks" #Remarks="ngModel" id="txtRemarks"
                        placeholder="Enter Remarks..."></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4" *ngIf="data.hiringStatusId==2">
        <button type="button" class="btn btn-black" (click)="onSubmit()">Submit</button>
    </div>
</div>