<div class="content-box m-b-15 m-t-10">
    <div class="page-title-area pb-2 mb-2">
        <div class="d-flex align-items-center d-flex justify-content-between mb-2">
            <div>  
               <a href="javascript:void(0)" (click)="gotoConfirmationReviewList()" class="back-btn"><i class="las la-arrow-circle-left"></i></a>                                
               <h1 class="f-l">Confirmation Review</h1>
            </div>
        </div>   
    </div>
    <div>
        <div class="form-row">
            <div class="col-md-3">
                <p class="d-inline-block grey">Employee ID:</p>
                <p class="d-inline-block">{{getCandidateDetailsCandiate[0]?.empNo}}</p>
            </div>
            <div class="col-md-3">
                <p class="d-inline-block grey">Employee Name:</p>
                <p class="d-inline-block">{{getCandidateDetailsCandiate[0]?.empName}}</p>
            </div> 
            <div class="col-md-3">
                <p class="d-inline-block grey">Location:</p>
                <p class="d-inline-block">{{getCandidateDetailsCandiate[0]?.locationOffice}}</p>
            </div> 
            <div class="col-md-3">
                <p class="d-inline-block grey">Function:</p>
                <p class="d-inline-block">{{getCandidateDetailsCandiate[0]?.functionName}}</p>
            </div> 
        </div>
        <div class="form-row">
            <div class="col-md-3">
                <p class="d-inline-block grey">Department:</p>
                <p class="d-inline-block">{{getCandidateDetailsCandiate[0]?.departmentName}}</p>
            </div>
            <div class="col-md-3">
                <p class="d-inline-block grey">Designation:</p>
                <p class="d-inline-block">{{getCandidateDetailsCandiate[0]?.currentDesignation}}</p>
            </div> 
            <div class="col-md-3">
                <p class="d-inline-block grey">Grade:</p>
                <p class="d-inline-block">{{getCandidateDetailsCandiate[0]?.gradeName}}</p>
            </div> 
            <div class="col-md-3">
                <p class="d-inline-block grey">Qualification:</p>
                <p class="d-inline-block">{{getCandidateDetailsCandiate[0]?.qualificationName}}</p>
            </div> 
        </div>
        <div class="form-row">
            <div class="col-md-3">
                <p class="d-inline-block grey">Date of Joining:</p>
                <p class="d-inline-block">{{getCandidateDetailsCandiate[0]?.doj}}</p>
            </div>
            <div class="col-md-3">
                <p class="d-inline-block grey">Age:</p>
                <p class="d-inline-block">{{getCandidateDetailsCandiate[0]?.age}}</p>
            </div> 
            <div class="col-md-3">
                <p class="d-inline-block grey">Basic Salary:</p>
                <p class="d-inline-block">{{getCandidateDetailsCandiate[0]?.currentCTC}}</p>
            </div> 
            <div class="col-md-3">
                <p class="d-inline-block grey">Due Date of Confirmation:</p>
                <p class="d-inline-block">{{getCandidateDetailsCandiate[0]?.duedateConfirmation}}</p>
            </div> 
        </div>
        <hr>
    </div>
    <div class="rating-scale bg-primary-light mb-4">
     <h6 class="black">Rating Scale:</h6>
     <div class="d-flex flex-wrap justify-content-between">
        <div class="scale-list"><span class="badge bg-success">5</span><p>Exceptional Performance</p></div>
        <div class="scale-list"><span class="badge bg-light-green">4</span><p>Exceeds Performance</p></div>
        <div class="scale-list"><span class="badge bg-light-yellow">3</span><p>Meet Requirements</p></div>
        <div class="scale-list"><span class="badge bg-orange">2</span><p>Meets Minimum Requirements</p></div>
        <div class="scale-list"><span class="badge bg-danger">1</span><p>Below Minimum Requirements</p></div>
     </div>
     
    </div>
    <div>                         
        <h6 class="black text-uppercase">A. List down all the assignments and tasks undertaken by the probationer during the period of review. This should include projects, routine jobs & tasks:</h6>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th width="40%">Assignments/Tasks Undertaken </th>
                        <th witdh="20%">Rating</th>                                         
                        <th width="40%">Comments</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of AssignmentsArray">
                        <td>{{data.assignments}}</td>
                        <td style="text-align: center;width: 100px;">{{data.rating}}</td>
                        <td>{{data.assignmentComments}}</td>
                    </tr>
                </tbody>
                <tbody  *ngIf="!showButton">
                    <tr> 
                        <td>
                         <textarea class="form-control" placeholder="Enter Comments" name="Assignments" [(ngModel)]="Assignments"></textarea>
                        </td>
                        <td style="width: 100px;"> 
                            <ng-select  [placeholder]="'Select'" [appendTo]="'body'" [(ngModel)]="AssignmentRating"
                            [multiple]="false" [searchable]="false" [clearable]="false">
                            
                            <ng-option [value]="5">5</ng-option>
                            <ng-option [value]="4">4</ng-option>
                            <ng-option [value]="3">3</ng-option>
                            <ng-option [value]="2">2</ng-option>
                            <ng-option [value]="1">1</ng-option>
                        </ng-select>
                          <!-- <input type="text" class="form-control"  name="AssignmentRating" [(ngModel)]="AssignmentRating">                                            -->
                        </td>
                        <td >
                         <textarea class="form-control" placeholder="Enter Comments"  name="AssignmentComments" [(ngModel)]="AssignmentComments"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-end"  *ngIf="!showButton">
            <button type="button" class="btn btn-black" (click)="addAssessment()">+ Add More</button>
        </div>
        <h6 class="black text-uppercase">B. Based on relevant facts and probationer's areas, give your rating on each of the areas listed below:</h6>
        <p class="grey">Please give your rating (5 - highest to 1 - lowest) on each of the ares listed below</p>
        <div class="table-responsive mb-2">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Factors</th>
                        <th>Rating</th>                                         
                        <th width="50%">Supporting Facts</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of ReviewQuestions">
                        <td>
                            <p>{{data.reviewQuestion}}</p>
                        </td>
                        <td style="width: 100px;">
                            <ng-select  [placeholder]="'Select'" [appendTo]="'body'" [(ngModel)]="data.rating" [disabled]="disableAll==true?true:null"
                            [multiple]="false" [searchable]="false" [clearable]="false">
                            
                            <ng-option [value]="5">5</ng-option>
                            <ng-option [value]="4">4</ng-option>
                            <ng-option [value]="3">3</ng-option>
                            <ng-option [value]="2">2</ng-option>
                            <ng-option [value]="1">1</ng-option>
                        </ng-select>
                            <!-- <input type="text" class="form-control" [(ngModel)]="data.rating" 
                            (keypress)="allownumbers($event)" [attr.disabled]="disableAll==true?true:null"> -->
                        </td>
                        <td>
                            <textarea class="form-control" [attr.disabled]="disableAll==true?true:null" placeholder="Enter Comments" [(ngModel)]="data.reviewComments" 
                            ></textarea>
                        </td>
                    </tr>
                
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <label>Feedback of Performance</label>
            <textarea class="form-control" placeholder="Write here..."  [(ngModel)]="Question1Answer" name="Question1Answer"
            [attr.disabled]="disableAll==true?true:null"></textarea>
        </div>
        <div class="form-group">
            <label>Special Assignments/Noteworthy Acievements</label>
            <textarea class="form-control" placeholder="Write here..."  [(ngModel)]="Question2Answer" name="Question2Answer"
            [attr.disabled]="disableAll==true?true:null"></textarea>
        </div>
        <div class="form-group">
            <label>Exceptions for next 12 months</label>
            <textarea class="form-control" placeholder="Write here..."  [(ngModel)]="Question3Answer" name="Question3Answer"
            [attr.disabled]="disableAll==true?true:null"></textarea>
        </div>
        <div class="form-group">
            <label>Area of stregth noticed/observed</label>
            <textarea class="form-control" placeholder="Write here..."  [(ngModel)]="Question4Answer" name="Question4Answer"
            [attr.disabled]="disableAll==true?true:null"></textarea>
        </div>
        <div class="form-group">
            <label>Area of development/improvement/training needs</label>
            <textarea class="form-control" placeholder="Write here..."  [(ngModel)]="Question5Answer" name="Question5Answer"
            [attr.disabled]="disableAll==true?true:null"></textarea>
        </div>
        <div class="form-group">
            <label>Action plans for areas of development/improvement</label>
            <textarea class="form-control" placeholder="Write here..."  [(ngModel)]="Question6Answer" name="Question6Answer"
            [attr.disabled]="disableAll==true?true:null"></textarea>
        </div>
        <div class="form-group">
            <label>Action</label>
            <div class="rdio rdio-primary mb-2 d-md-inline">
                <input [(ngModel)]="ConfirmStatus" name="ConfirmStatus" value="1" #radio1 id="radio1"
                type="radio" [checked]="selectedConfirmStatus=='1'?true:false"  [attr.disabled]="disableAll==true?true:null" type="radio">
                <label for="radio1">Confirm</label>
            </div>
            <div class="rdio rdio-primary mb-2 d-md-inline">
                <input [(ngModel)]="ConfirmStatus" name="ConfirmStatus" value="2" #radio2 id="radio2"
                type="radio" [checked]="selectedConfirmStatus=='2'?true:false"  [attr.disabled]="disableAll==true?true:null" type="radio">
                <label for="radio2">Extend Probation for 3 months</label>
            </div>
            <div class="rdio rdio-primary mb-2 d-md-inline">
                <input [(ngModel)]="ConfirmStatus" name="ConfirmStatus" value="3" #radio3 id="radio3"
                type="radio" [checked]="selectedConfirmStatus=='3'?true:false"  [attr.disabled]="disableAll==true?true:null" type="radio">
                <label for="radio3">Extend Probation for 6 months</label>
            </div>
            <div class="rdio rdio-primary mb-2 d-md-inline">
                <input [(ngModel)]="ConfirmStatus" name="ConfirmStatus" value="4" #radio4 id="radio4"
                type="radio" [checked]="selectedConfirmStatus=='4'?true:false"  [attr.disabled]="disableAll==true?true:null" type="radio">
                <label for="radio4">Do not confirm</label>
            </div>
        </div>
        <h6 class="red" >Remarks:</h6>
        <div *ngFor="let data of remarksDetails">
            <div class="media mb-3">
                <img class="mr-3" src="assets/images/user-icon-2.png" alt="">
                <div class="media-body">
                    <h6 class="mt-0">{{data.createdBy}} <span></span></h6>
                    {{data.remarks}}
                </div>
            </div>
            
        </div>
        <div class="form-group">
            <label>Remarks</label>
            <textarea class="form-control" placeholder="Write here..." [(ngModel)]="Remarks" name="Remarks"
            [attr.disabled]="disableAll==true?true:null"></textarea>
        </div>
       
        <div class="mt-4"  *ngIf="!showButton">
            <button type="button" class="btn btn-black" data-target="#confirmPopup" data-toggle="modal">Submit</button>
        </div>
    </div>            
   
</div>

<div class="modal fade" id="confirmPopup" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body">
                <div class="conPopIcon"><i class="las la-question-circle"></i></div>
                <h6 class="conComment text-center">Do you want to continue?</h6>
                <div class="mt-4 text-center">
                    <button type="button" class="btn btn-primary" #closeModal data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-black ml-2" (click)="onSubmit()">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>
