<div class="container-fluid">
    <div class="content-box m-b-15 m-t-10">
        <div class="page-title-area pb-2 mb-2">
            <div class="d-flex align-items-center d-flex justify-content-between mb-2">
                <div>
                    <h1 class="f-l">Employee Handbook</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            Please read the Handbook to know Organization History,Rules,Regulation to be followed
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="border-box p-2 mb-1 d-flex justify-content-between align-items-center">
                    <div>MRF Employee Handbook</div>
                    <div>
                        <a href="{{urlDownload}}"
                        target="_blank" class="btn btn-rounded btn-primary btn-sm">View</a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-12">
                <span class="red"><b>NOTE:</b></span><span class="grey font-italic">Please complete the medical checkup as per the above form and upload the same certified by a MD General Medicine qualified doctor along with reports 
                    ( no need to upload xray film) Max size 10MB</span>
            </div> -->
        </div>
    </div>
</div>