<html>
<!--<head>
</head>-->
<!--Piu Biswas-->

<body style="font-family: Arial, Helvetica, sans-serif;">
  <div id="element-to-print" style="font-size: 13px;">
    <div style="width: 1070px;">
      <h2 style='text-align: center; font-size: 20px; margin-bottom: 12px;'>Salary Fitment</h2>
      <div style="float: left; width: 100%;">
        <table
          style='width: 100%; margin-bottom: 10px; font-size: 13px; border-collapse: collapse;word-break: break-word; border-spacing: 0px; border-bottom:1px solid #000; border-top:1px solid #000; text-align: left;'>
          <tbody>
            <tr>
              <td style='padding: 5px;'>
                <b>Name:</b>
                {{salaryFitment.candidateFullName}}
              </td>
              <td style='padding: 5px;'>
                <b>Designation:</b>
                {{salaryFitment.designation}}
              </td>
              <td style='padding: 5px;'>
                <b>Location:</b>
                {{salaryFitment.location}}
              </td>
              <td style='padding: 5px;'>
                <b>Grade:</b>
                {{salaryFitment.grade}}
              </td>
              <td style='padding: 5px;'>
                <b>Probation:</b>
                {{salaryFitment.probation}}
              </td>
            </tr>
          </tbody>
        </table>
        <div style="width: 58%; float: left;">
          <table
            style='width: 100%;margin-bottom: 6px; font-size: 13px;  border-collapse: collapse;word-break: break-word; border-spacing: 0px; border:1px solid #000; text-align: left;'>
            <thead>
              <tr>
                <th style=' border:1px solid #000; padding: 2px 5px;'></th>
                <th style=' border:1px solid #000; padding: 2px 5px;'></th>
                <th colspan="3" style=' border:1px solid #000; padding: 2px 5px;text-align: center;'>
                  Proposed
                </th>
              </tr>
              <tr>
                <th style=' border:1px solid #000; padding: 2px 5px;'></th>
                <th style=' border:1px solid #000; padding: 2px 5px;'>Monthly in Pay Slip</th>
                <th style=' border:1px solid #000; padding: 2px 5px;text-align: right;'>Monthly (Rs..)</th>
                <th style=' border:1px solid #000; padding: 2px 5px;text-align: right;'>Annual (Rs..)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rec of this.salaryFitment.new">
                <td style=' border:1px solid #000; padding: 2px 5px;'>{{rec.visibleOrder}}</td>
                <td style=' border:1px solid #000; padding: 2px 5px;'>{{rec.salaryAccountHeadName}}</td>
                <td style=' border:1px solid #000; padding: 2px 5px;text-align: right;'>
                  {{rec.calculatedSalaryValue>0?rec.calculatedSalaryValue:''}}</td>
                <td style=' border:1px solid #000; padding: 2px 5px;text-align: right;'>
                  {{rec.calculatedSalaryValueYearly>0?rec.calculatedSalaryValueYearly:''}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div style="width: 40%; float: right;" *ngIf="salaryFitment.isExperinced">
          <table
            style='width: 100%;  margin-bottom: 30px; font-size: 13px;  border-collapse: collapse;word-break: break-word; border-spacing: 0px; border:1px solid #000; text-align: left;'>
            <thead>
              <tr>
                <th colspan="3" style=' border:1px solid #000; padding: 2px 5px;text-align: center;'>
                  Existing
                </th>
              </tr>
              <tr>
                <th style=' border:1px solid #000; padding: 2px 5px;'></th>
                <th style=' border:1px solid #000; padding: 2px 5px;text-align: right;'>Monthly (Rs..)</th>
                <th style=' border:1px solid #000; padding: 2px 5px;text-align: right;'>Annual (Rs..)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <!--<td style=' border:1px solid #000; padding: 2px 5px;'>Basic</td>
              <td style=' border:1px solid #000; padding: 2px 5px;text-align: right;'>5000</td>
              <td style=' border:1px solid #000; padding: 2px 5px;text-align: right;'>60000</td>
            </tr>-->
              <tr *ngFor="let data of this.salaryFitment.existing">
                <td style=' border:1px solid #000; padding: 2px 5px;'>{{data.emolumntName}}</td>
                <td style=' border:1px solid #000; padding: 2px 5px;text-align: right;'>{{data.monthly}}</td>
                <td style=' border:1px solid #000; padding: 2px 5px;text-align: right;'>{{data.yerly}}</td>
              </tr>
              <tr>
                <td style=' border:1px solid #000; padding: 2px 5px;'>Total</td>
                <td style=' border:1px solid #000; padding: 2px 5px;text-align: right;'>
                  {{salaryFitment.existingMonthly}}</td>
                <td style=' border:1px solid #000; padding: 2px 5px;text-align: right;'>{{salaryFitment.existingYearly}}
                </td>
              </tr>
              <!--<tr>
              <td style=' border:1px solid #000; padding: 2px 5px;'><b>Total</b></td>
              <td style=' border:1px solid #000; padding: 2px 5px;text-align: right;'><b>20000</b></td>
              <td style=' border:1px solid #000; padding: 2px 5px;text-align: right;'><b>240000</b></td>
            </tr>-->
          </table>

          <table
            style='width: 100%; font-size: 13px; border-collapse: collapse;word-break: break-word; border-spacing: 0px; border:1px solid #000; text-align: left;'>
            <tbody>
              <tr>
                <td style=' border:1px solid #000; padding: 2px 5px;'>our offer</td>
                <td style=' border:1px solid #000; padding: 2px 5px;'>{{salaryFitment.percent}}</td>
              </tr>
              <tr>
                <td style=' border:1px solid #000; padding: 2px 5px;'>in %</td>
                <td style=' border:1px solid #000; padding: 2px 5px;'>{{salaryFitment.in | number:'2.0-0'}}</td>
              </tr>
              <tr>
                <td style=' border:1px solid #000; padding: 2px 5px;'>Basic%</td>
                <td style=' border:1px solid #000; padding: 2px 5px;'>{{salaryFitment.basic | number:'2.0-0'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div style="page-break-inside: avoid; margin-bottom: 2px; float: left; width: 100%;">
        <table style="width: 100%; page-break-inside: avoid;">
          <tbody>
            <tr>
              <td>
                <p>In addition to the above you will be eligible for the following benefits as per Company policy:</p>
                <ul>
                  <li>Group Hospitalization Insurance for self, wife and dependent children.</li>
                  <li>Group Personal Accident Insurance for self.</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p style="font-size: 17px;"><span class="table-warning"><b>Note&nbsp;:</b>Please note that the final CTC amount
          may be subject to minor rounding adjustments.</span> </p>
      <div style="page-break-inside: avoid;" *ngIf="salaryFitment.isExperinced">
        <h6 style='margin-bottom: 5px; color: #ed1c24;'>Year of Experience</h6>
        <table
          style='width: 100%; font-size: 13px; border-collapse: collapse;word-break: break-word; border-spacing: 0px; border:1px solid #000; text-align: left;'>
          <thead>
            <tr>
              <th style=' border:1px solid #000; padding: 2px 5px;'>Company</th>
              <th style=' border:1px solid #000; padding: 2px 5px;'>From</th>
              <th style=' border:1px solid #000; padding: 2px 5px;'>To</th>
              <th style=' border:1px solid #000; padding: 2px 5px;'>Days</th>
              <th style=' border:1px solid #000; padding: 2px 5px;'>Years</th>
              <th style=' border:1px solid #000; padding: 2px 5px;'>Remarks</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of this.salaryFitment.exp">
              <td style=' border:1px solid #000; padding: 2px 5px;'>{{data.organisation}}</td>
              <td style=' border:1px solid #000; padding: 2px 5px;'>{{data.from}}</td>
              <td style=' border:1px solid #000; padding: 2px 5px;'>{{data.to}}</td>
              <td style=' border:1px solid #000; padding: 2px 5px;'>{{data.days}}</td>
              <td style=' border:1px solid #000; padding: 2px 5px;'>{{data.years}}</td>
              <td style=' border:1px solid #000; padding: 2px 5px;'>{{data.remarks}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
    integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    var element = document.getElementById('element-to-print');
    html2pdf(element, {
      margin: 6,
      filename: this.fileName,
      image: { type: 'jpeg', quality: 0.98 },
      html2canvas: { scale: 2 },
      jsPDF: { unit: 'mm', format: 'a4', orientation: 'landscape' }
    });

  </script>
  <!-- <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.1.1/jspdf.umd.min.js"></script> -->
  <!-- <script> -->
  <!-- var pdf = new jspdf.jsPDF('p', 'pt', 'a4'); -->
  <!-- pdf.html(document.getElementById('element-to-print'), { -->
  <!-- callback: function (pdf) { -->
  <!-- var iframe = document.createElement('iframe'); -->
  <!-- iframe.setAttribute('style', 'position:absolute;right:0; top:0; bottom:0; height:100%; width:750px'); -->
  <!-- document.body.appendChild(iframe); -->
  <!-- iframe.src = pdf.output('datauristring'); -->
  <!-- } -->
  <!-- }); -->
  <!-- </script> -->
</body>

</html>