<div class="content-box m-b-15 m-t-10">
    <div class="page-title-area pb-2 mb-2">
        <div class="d-flex align-items-center d-flex justify-content-between mb-2">
            <div>
                <a href="javascroipt:void(0)" (click)="onBackClick()" class="back-btn"><i class="las la-arrow-circle-left"></i></a>
                <h1 class="f-l">Claim Notice Period Buyout Reimbursement</h1>
            </div>

            </div>
        </div> 
        <div class="col-md-12 text-right mb-2">
            <a type="button" class="btn btn-rounded btn-outline-primary btn-sm"  href="{{DocumentPathForPDF}}" target="_blank"
            ><i class="las la-download"></i>
                Download Form</a>  
    </div>
    <div class="form-row">
        <div class="col-md-2">
            <div class="form-group">
                <label>Notice Period Days<span class="required">*</span></label>
                <input type="text" class="form-control" [(ngModel)]="noticePeriodDays" disabled>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Notice Period Served Days<span class="required">*</span></label>
                <input type="text" class="form-control" [(ngModel)]="noticePeriodServeDays" disabled>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Remaining Days<span class="required">*</span></label>
                <input type="text" class="form-control" [(ngModel)]="noticePeriodRemainingDays" disabled>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Amount<span class="required">*</span></label>
                <input type="text" class="form-control" [(ngModel)]="settlementAmount" disabled>
            </div>
        </div>
    </div>
    <!-- <div class="form-row">
        <div class="col-md-6">
            <label for="">Upload settlement document of previous employment<span class="required">*</span><small class="grey">(PDF format only)</small></label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" accept="application/pdf" (change)="onAttachmentFileChange($event.target.files)">
                <label class="custom-file-label" for="customFile" #attachmentFileImport></label>
            </div>
        </div>
    </div> -->
    <div>
        <h6 class="red">Uploaded Bill</h6>
        <div class="attach-file">
            <a href="{{noticePeriodBuyOutReimbursement[0]?.document}}" target="_blank" title="Download"><i class="las color-black la-paperclip"></i>Uploaded Bill </a>    <!-- Bill name to be return -->
            <a href="{{noticePeriodBuyOutReimbursement[0]?.document}}"><i class="las la-download red"></i></a>
        </div>
        <hr>
    </div>
    <div *ngIf="!IsReadOnly">
        <h6 class="red">Take Action</h6>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Action<span class="required">*</span></label>
                    <div class="rdio rdio-primary d-inline-block">
                        <input name="radio" value="1" id="radio1" type="radio" (change)="onChangeRadioValue('A')" checked="">
                        <label for="radio1">Accept</label>
                    </div>
                    <div class="rdio rdio-primary d-inline-block">
                        <input name="radio" value="2" id="radio2" type="radio" (change)="onChangeRadioValue('R')">
                        <label for="radio2">Reject</label>
                    </div>
                    <div class="rdio rdio-primary d-inline-block">
                        <input name="radio" value="3" id="radio3" type="radio" (change)="onChangeRadioValue('S')">
                        <label for="radio3">Send Back to Candidate</label>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>Remarks:</label>
                    <textarea class="form-control" id="" placeholder="Enter Remarks..."
                    [(ngModel)]="claimRemarks"></textarea>
                </div>
            </div>
            
        </div>
       
    </div>
    <div>
        <div class="media mb-3" *ngFor="let item of ForPrintRemarks">
            <img class="mr-3" src="assets/images/user-icon-2.png" alt="">
            <div class="media-body">
                <h6>{{item.printName}}</h6>               
                {{item.printRemarks}}               
            </div>
        </div>
    </div>
    <div class="mt-4" *ngIf="!IsReadOnly">
        <button type="button" class="btn btn-black" (click)="onSubmitClaim()">Submit</button>
        <button type="button" class="btn btn-primary ml-1" (cancel)="onClickCancel()">Cancel</button>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div id="printNoticePeriodBuyOutReimbursementDiv" style="display: none;">
    <app-pdfnoticeperiodbuyoutreim [noticeperiodDataRecord]="noticeperiodData"></app-pdfnoticeperiodbuyoutreim>
</div>
