<div class="content-box">
    <div class="page-title-area pb-2 mb-2">
        <div class="d-flex align-items-center d-flex justify-content-between mb-2">
            <div>
                <h1 class="f-l">Manage EDMS Access</h1>
            </div>
            <div>
                <a href="javascript:void(0)" (click)="onClickAddNew()" class="btn btn-primary btn-sm"
                    data-toggle="modal" data-target="#myModal"><i class="las la-plus"></i> Add New User</a>
            </div>
        </div>
    </div>
    <!-- <form [formGroup]="searchForm" (ngSubmit)="filter()"> -->
    <div class="filter-sec">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>Vertical</label>
                    <ng-select bindLabel="verticalName" [placeholder]="'Select'" [appendTo]="'body'" [multiple]="true"
                        [searchable]="false" [clearable]="false" [(ngModel)]="objSearchEDMSAccess.verticalId">
                        <ng-option [value]="rec.verticalId" *ngFor="let rec of verticals">
                            {{rec.verticalName}}
                        </ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-md-3 mt-4">
                <button type="button" class="btn btn-black btn-sm" (click)="filter()"><i class="las la-filter"></i>
                    Filter</button>
                <button type="button" (click)="reset()" class="btn btn-secondary btn-sm ml-1"><i
                        class="las la-sync-alt"></i>
                    Reset</button>
            </div>
        </div>

    </div>
    <!-- </form> -->

    <div class="table-responsive">
        <table id="dataTable1" class="table table-striped" style="width: 100%;">
            <thead>
                <tr>
                    <th class="text-center" style="width: 60px;">Sl. No.</th>
                    <th class="text-center">User</th>
                    <th class="text-center">Vertical</th>
                    <th class="text-center" style="width: 200px;">Function</th>
                    <!-- <th class="text-center" style="width: 200px;">Location</th> -->
                    <th class="text-center" style="width: 100px;">Grade</th>
                    <th class="text-center">Role</th>
                    <th class="text-center">Can Access EDMS</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of userListCanAccessEDMS;let i=index">
                    <td class="text-center">{{i+1}}</td>
                    <td class="text-center">{{data.empName}}</td>
                    <td class="text-center">{{getVerticalName(data.verticalIds)}}</td>
                    <td class="text-center" style="width: 200px;">{{getFunctionName(data.functionIds)}}</td>
                    <!-- <td class="text-center" style="width: 200px;">{{getLocationName(data.locationIds)}}</td> -->
                    <td class="text-center" style="width: 100px;">{{getGradename(data.gradeIds)}}</td>
                    <td class="text-center">{{data.roleName}}</td>
                    <td class="text-center">{{data.isEDMSAccess==true?"Yes":"No"}}</td>
                    <td class="text-center">
                        <div class="row-dropdown">
                            <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"><i class="las la-ellipsis-v"></i></button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" (click)="onEdit(data)" href="javascript:void(0)"
                                    data-toggle="modal" data-target="#myModal"><i class="las la-pen"></i> Edit</a>
                            </div>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="col-sm-12">
        <button type="button" class="btn btn-black btn-sm" (click)="onClickSubmit()">Submit</button>
        <button type="button" class="btn btn-secondary btn-sm ml-1" (click)="onClickCancel()">Cancel</button>
    </div>
</div>

<!-- START: NGX-SPINNER -->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<!-- START: NGX-SPINNER -->

<!-- Access Modal start -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="las la-times"></i></button>
                <h4 *ngIf="!isEditMode" class="modal-title">Add New User</h4>
                <h4 *ngIf="isEditMode" class="modal-title">Edit User</h4>
            </div>
            <form [formGroup]="saveForm" (ngSubmit)="onSubmit()" autocomplete="off">
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>User Role</label>
                                <ng-select bindLabel="userrole" class="ddluserrole" id="aaaau"
                                    (change)="onChangeUserRole($event)" [placeholder]="'Select'" [appendTo]="'body'"
                                    [multiple]="false" [searchable]="true" formControlName="roleId" [clearable]="false"
                                    formControlName="RoleId" [readonly]="isEditMode">
                                    <ng-option [value]="rec.roleId" *ngFor="let rec of RoleList">
                                        {{rec.roleName}}
                                    </ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>User</label>
                                <ng-select bindLabel="userName" class="ddlUser" id="bbbu" [placeholder]="'Select'"
                                    [appendTo]="'body'" [multiple]="false" [searchable]="true" [clearable]="false"
                                    formControlName="AutoUserId" [readonly]="isEditMode">
                                    <ng-option [value]="rec.autoUserId" *ngFor="let rec of roleWiseUserList;">
                                        {{rec.employeeName}}
                                    </ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Vertical</label>
                                <ng-select formControlName="verticalId" bindLabel="VerticalName"
                                    [placeholder]="'Select'" [appendTo]="'body'" [multiple]="true" [searchable]="true"
                                    [clearable]="false" (change)="changeVertical($event)" formControlName="VerticalId">
                                    <ng-option [value]="rec.verticalId" *ngFor="let rec of verticals;">
                                        {{rec.verticalName}}
                                    </ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Function</label>
                                <ng-select bindLabel="functionName" [placeholder]="'Select'" [appendTo]="'body'"
                                    [multiple]="true" [searchable]="true" [clearable]="false" (change)="changeFunction($event)"
                                    formControlName="FunctionId">
                                    <ng-option [value]="rec.functionId" *ngFor="let rec of filteredFunctionList">
                                        {{rec.functionName}}
                                    </ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Location</label>
                                <ng-select bindLabel="LocationName" [placeholder]="'Select'" [appendTo]="'body'"
                                    [multiple]="true" [searchable]="true" [clearable]="false"  (change)="changelocation($event)"
                                    formControlName="locationId">
                                    <ng-option [value]="rec" *ngFor="let rec of locations">
                                        {{rec.locationOffice}}
                                    </ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Grade</label>
                                <ng-select bindLabel="gradeName" [placeholder]="'Select'" [appendTo]="'body'"
                                    [multiple]="true" [searchable]="true" [clearable]="false" formControlName="GradeId">
                                    <ng-option [value]="rec.gradeId" *ngFor="let rec of gradeList">
                                        {{rec.gradeName}}
                                    </ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="swichLabel">Can Access EDMS</label>
                                <label class="switch">
                                    <input type="checkbox" id="togBtn" name="togBtn" formControlName="CanAccess" />
                                    <div class="slider round">
                                        <!--ADDED HTML -->
                                        <span class="on">Yes</span><span class="off">No</span>
                                        <!--END-->
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-black btn-sm" [disabled]="saveForm.invalid">Submit</button>
                    <!--  -->
                </div>
            </form>
        </div>

    </div>
</div>