<div class="content-box m-b-15 m-t-10">

    <div class="page-title-area pb-2 mb-2">
        <div class="d-flex align-items-center d-flex justify-content-between mb-2">
            <div>
                <h1 class="f-l">Reassign Training Candidate List</h1>
            </div>
        </div>
    </div>
    <form [formGroup]="searchform" (ngSubmit)="formSubmit()">

        <div class="filter-sec mb-3">
            <div class="form-row m-t-10">
                <div class="col-md-1">
                    <div class="form-group">
                        <label>Candidate ID</label>
                        <input type="text" class="form-control" formControlName="candidateNo">
                        <!-- formControlName="candidateNo"  -->
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Employee ID </label>
                        <input type="text" class="form-control" formControlName="employeeNo">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Candidate/Employee Name</label>
                        <input type="text" class="form-control" formControlName="employeeName">
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Last Training Date</label>
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="input-group datepiker date">
                                <input type="text" class="form-control pull-right datepicker" id="fromdatepicker"
                                    placeholder="From Date" #lstTrainingDateFrom autocomplete="off"
                                    formControlName="lastTrainingFrom">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"><i
                                            class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group datepiker date">
                                <input type="text" class="form-control pull-right datepicker" id="todatepicker"
                                    placeholder="To Date" #lstTrainingDateTo autocomplete="off"
                                    formControlName="lastTrainingTo">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"><i
                                            class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Location</label>
                        <ng-select bindLabel="locationNo" [placeholder]="'Select'" [appendTo]="'body'"
                            [multiple]="false" [searchable]="true" [clearable]="false" formControlName="locationId">
                            <ng-option [value]="rec.locationId" *ngFor="let rec of locations">
                                {{rec.locationOffice}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Function</label>
                        <ng-select bindLabel="functionName" [placeholder]="'Select'" [appendTo]="'body'"
                            [multiple]="false" [searchable]="true" [clearable]="false" formControlName="functionId">
                            <ng-option [value]="rec.functionId" *ngFor="let rec of functions">
                                {{rec.functionName}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>

                <div class="col-md-2 mt-md-4 text-right">
                    <button type="submit" class="btn btn-black btn-sm"><i class="las la-filter"></i>
                        Filter</button>
                    <button type="button" (click)="reset()" class="btn btn-secondary btn-sm ml-1"><i
                            class="las la-sync-alt"></i>
                        Reset</button>
                </div>

            </div>
        </div>
    </form>

    <div class="table-responsive">
        <table id="dataTable1" class="table table-striped">
            <thead>
                <tr>
                    <th>Cand. ID</th>
                    <th>Emp. ID</th>
                    <th>Batch. ID</th>
                    <th>Cand/Emp Name</th>
                    <th>Designation</th>
                    <th>Pos.Location</th>
                    <th>Function</th>
                    <th>Department</th>
                    <th>Grade</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Experience</th>
                    <th>Joining Date</th>
                    <th>Last Training Date</th>
                    <th>Hiring Status</th>
                    <th style="text-align: center;"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of discontinuedCandidateList;let i=index;">
                    <td>{{data.candidateNo}}</td>
                    <td>{{data.empployeeNo}}</td>
                    <td>{{data.batchNo}}</td>
                    <td>{{data.fullName}}</td>
                    <td>{{data.designationName}}</td>
                    <td>{{data.locationName}}</td>
                    <td>{{data.functionName}}</td>
                    <td>{{data.departmentName}}</td>
                    <td>{{data.gradeName}}</td>
                    <td>{{data.emailId}}</td>
                    <td>{{data.contact}}</td>
                    <td>{{data.experienceYear}} Y {{data.experienceMonth}} M</td>
                    <td>{{data.dateofJoining}}</td>
                    <td>{{data.lastTrainingDate}}</td>
                    <td>{{data.reassignStatus}}</td>
                    <td class="text-center">
                        <div class="row-dropdown">
                            <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" data-boundary="window"><i class="las la-ellipsis-v"></i></button>
                            <div class="dropdown-menu custom-menu dropdown-menu-right"
                                aria-labelledby="dropdownMenuButton" data-boundary="window" x-placement="bottom-end">
                                <a *ngIf="data.reassignStatus!='Resigned'" class="dropdown-item" href="javascript:void(0)" data-toggle="modal"
                                    data-target="#myModal" (click)="onClickReassignCandidate(data)"><i
                                        class="las la-share"></i>Reassign Candidate</a>
                            </div>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
</div>