<div class="content-box m-b-15 m-t-10">
    <div class="page-title-area pb-2 mb-2">
        <h1 class="f-l">Filters</h1>
    </div>

    <div>
        <form [formGroup]="searchForm" (ngSubmit)="formSubmit()">
            <div class="filter-sec">
                <div class="form-row m-t-10">
                    <div class="col-md-1">
                        <div class="form-group">
                            <label>Employee Id</label>
                            <input type="text" class="form-control" formControlName="empId">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" formControlName="empName">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Joining Date</label>
                            <div class="form-row">
                                <div class="col-sm-6">
                                    <div class="input-group datepiker date">
                                        <input type="text" class="form-control pull-right datepicker"
                                            id="fromdatepicker" placeholder="From Date" #fromDate
                                            formControlName="fromDate" autocomplete="off">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2"><i
                                                    class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group datepiker date">
                                        <input type="text" class="form-control pull-right datepicker" id="todatepicker"
                                            placeholder="To Date" #toDate formControlName="toDate" autocomplete="off">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2"><i
                                                    class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Pos. Location</label>
                            <ng-select bindLabel="locationNo" [placeholder]="'Select'" [appendTo]="'body'"
                                [multiple]="false" [searchable]="false" [clearable]="false"
                                formControlName="locationId">
                                <ng-option [value]="rec.locationId" *ngFor="let rec of locations">
                                    {{rec.locationOffice}}
                                </ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Function</label>
                            <ng-select bindLabel="functionName" [placeholder]="'Select'" [appendTo]="'body'"
                                [multiple]="false" [searchable]="false" [clearable]="false"
                                formControlName="functionId">
                                <ng-option [value]="rec.functionId" *ngFor="let rec of functions">
                                    {{rec.functionName}}
                                </ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Probation</label>
                            <ng-select [placeholder]="'Select'" [appendTo]="'body'" [multiple]="false"
                                [searchable]="false" [clearable]="false" formControlName="probationId">
                                <ng-option [value]="0">Select</ng-option>
                                <ng-option [value]="1">6 Months</ng-option>
                                <ng-option [value]="2">1 Year</ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-black btn-sm"><i class="las la-filter"></i>Filter</button>
                        <button type="button" class="btn btn-secondary btn-sm ml-1" (click)="resetClick()"><i
                                class="las la-sync-alt"></i>
                            Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-12 text-right mb-2" *ngIf="isDwnldFrmVisible">
        <a type="button" class="btn btn-rounded btn-outline-primary btn-sm" href="javascript:void(0)"
            (click)="downloadAllDocuments()"><i class="las la-download"></i> Download Forms</a>
    </div>
    <!-- <div class="col-md-12 text-right mb-2" *ngIf="isDwnldFrmVisible">
        <a type="button" class="btn btn-rounded btn-outline-primary btn-sm" href="javascript:void(0)"
            (click)="downloadcheckAllDocuments()"><i class="las la-download"></i> Download All</a>
    </div> -->
    <div class="table-responsive">
        <table id="dataTable1" class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <div class="form-check">
                            <input type="checkbox" id="chkAll"
                                (change)="onCheckSelectAll($event)">
                            <label class="chk" for="chkAll"></label>
                        </div>
                    </th>
                    <!-- <th>
                        <div class="form-check">
                            <input type="checkbox" id="chkAll_pending" 
                                (change)="onCheckSelectAll_pending($event)">
                            <label class="chk" for="chkAll_pending"></label>
                        </div>
                    </th> -->
                    <th>Emp. ID</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>DOJ</th>
                    <th>Probation</th>
                    <th>Designation</th>
                    <th>Pos. Location</th>
                    <th>Function</th>
                    <th>Department</th>
                    <th>Grade</th>
                    <th>Confirmation Due</th>
                    <th>Download</th>
                    <!-- <th style="text-align: center;"></th> -->
                </tr>
            </thead>
            <tbody>
                <!--Checked the alignment working fine so giving republish with the comment-->
                <tr *ngFor="let data of confirmationList;let i=index;">
                    <td>
                        <div class="form-check">
                            <input type="checkbox" id="{{i}}" [(ngModel)]="data.isChecked" (change)="onCheckRowWise(data,$event,i)">
                            <label class="chk" for="{{i}}"></label>
                        </div>
                    </td>
                    <td>{{data.employeeNo}}</td>
                    <td>{{data.fullName}}</td>
                    <td>{{data.employeeStatus}}</td>
                    <td>{{data.doj}}</td>
                    <td>{{data.probation}}</td>
                    <td>{{data.designation}}</td>
                    <td>{{data.locationOffice}}</td>
                    <td>{{data.functionName}}</td>
                    <td>{{data.departmentName}}</td>
                    <td>{{data.gradeName}}</td>
                    <td>{{data.confirmationDue}}</td>
                    <td>
                        <div>
                            <button type="button" (click)="goToPDFDownload(data)"><i
                                    class="las la-download"></i></button>
                        </div>
                    </td>
                    <!-- <td class="text-center">
                        <div class="row-dropdown">
                            <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"><i class="las la-ellipsis-v"></i></button>
                            <div class="dropdown-menu custom-menu dropdown-menu-right"
                                aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" (click)="gotoHandholdingForms(data)"
                                href="javascript:void(0)"><i class="las la-check-square"></i>View Handholding Forms</a>                                       
                            </div>
                        </div>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- <div id="printerdiv" style="display: none;">
    <app-pdfallhandholdingforms [pdfvalues]="reviewDataForPdf"></app-pdfallhandholdingforms>
</div> -->
<div id="printerdiv" style="display: none;">
    <app-pdf-confirmation-file [pdfvalues]="modifiedPdfValues"></app-pdf-confirmation-file>
</div>

<div id="printerdivZip" style="display: none;">
    <app-pdfallhandholdingformsforzip [pdfvalues]="reviewDataForPdf"></app-pdfallhandholdingformsforzip>
</div>