<div class="page-title-area pb-2 mb-2">
    <div class="d-flex align-items-center d-flex justify-content-between mb-2">
      <div>
        <h1 class="f-l">Role Wise Document Access</h1>
      </div>
    </div>
</div>
<div class="table-responsive" *ngIf="showUserRoleList" >
    <table id="dataTable1" class="table table-striped" style="width: 100%;">
      <thead>
        <tr>
          <th>Document Type</th>
          <th>Document Particular</th>
          <th>Document Name</th>
          <th>RoleName(S)</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of DataTable; let i = index;">
            <td>{{item.attachmentDocumentTypeName}}</td>
            <td>{{item.attachmentDocumentParticularName}}</td>
            <td>{{item.attachmentDocumentName}}</td>
            <td>{{item.roleName}}</td>
            <td class="text-center">
              <div class="row-dropdown">
                <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false"><i class="las la-ellipsis-v"></i></button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)="onEdit(item)" href="#" data-toggle="modal" data-target="#myModal"><i
                      class="las la-pen"></i> Edit</a>
                </div>
              </div>
            </td>
        </tr>
      </tbody>
    </table>
</div>
<div class="content" *ngIf="showedit">
    <div class="content-box m-b-15 m-t-10">
        <div class="page-title-area pb-2 mb-2">
          <a (click)="onBackClick()" class="back-btn"><i class="las la-arrow-circle-left"></i></a>
          <h1 class="f-l">{{mapingText}}</h1>
        </div>
        <!-- <form [formGroup]="saveForm" (ngSubmit)="onSubmit()" autocomplete="off"> -->
            <div class="modal-body">
              <div class="form-row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="">Document Type</label>
                        <ng-select bindLabel="attachmentDocumentTypeName" class="documentType"
                            [placeholder]="'Select'" [appendTo]="'body'" [multiple]="false" [searchable]="false"
                            [clearable]="false" [(ngModel)]="selectedDocumentType" [disabled]="true"
                            (change)="changeDocumentType($event)">
                            <ng-option [value]="rec.attachmentDocumentTypeId" *ngFor="let rec of documentTypes">
                                {{rec.attachmentDocumentTypeName}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Document Particular</label>
                        <ng-select class="" bindLabel="attachmentDocumentParticularName"
                            class="documentParticular" [placeholder]="'Select'" [appendTo]="'body'"
                            [multiple]="false" [searchable]="false" [clearable]="false"
                            [(ngModel)]="selectedDocumentParticular" [disabled]="true"
                            (change)="changeDocumentParticular($event)">
                            <ng-option [value]="rec.attachmentDocumentParticularId"
                                *ngFor="let rec of documentParticularList">
                                {{rec.attachmentDocumentParticularName}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Document Name</label>
                        <ng-select class="" bindLabel="attachmentDocumentName" class="documentName"
                            [placeholder]="'Select'" [appendTo]="'body'" [multiple]="false" [searchable]="false"
                            [clearable]="false" [(ngModel)]="selectedDocumentName" [disabled]="true"> 
                            <ng-option [value]="rec.attachmentDocumentNameId"
                                *ngFor="let rec of documentNameList">
                                {{rec.attachmentDocumentName}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                      <label>User Role</label>
                      <ng-select bindLabel="userrole" class="ddltestvenue" (change)="onChangeUserRole($event)"
                        [placeholder]="'Select'" [appendTo]="'body'" [multiple]="true" [searchable]="true"
                        [(ngModel)]="roleId" [clearable]="false">
                        <ng-option [value]="rec.roleId" *ngFor="let rec of RoleList">
                          {{rec.roleName}}
                        </ng-option>
                      </ng-select>
                    </div>
                    <div style="float: right;">
                    <button type="button" (click)="onClickshow()" class="btn btn-primary ml-2" data-toggle="modal" data-target="#shareWithCandidateModal">show</button>
                  </div>
                  </div>
                <div class="col-sm-12">
                    <button type="button" (click)="onSubmit()" class="btn btn-black btn-sm">Submit</button>
                </div>
             </div>
        </div>
    <!-- </form> -->
 </div>
</div>
<div class="modal fade" id="shareWithCandidateModal" role="dialog">
  <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><i class="las la-times"></i></button>
              <h4 class="modal-title">Selected Roles</h4>
          </div>
          <!-- <form [formGroup]="shareInductionScheduleWithCandidateForm" (ngSubmit)="btnShareInductionWithCandidate()"
              autocomplete="off"> -->
          <div class="modal-body">
              <div class="table-responsive">
                  <table class="table table-bordered mb-0">
                      <thead>
                          <tr>
                              <th>Selected Roles</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let i of array;">
                              <td>{{i}}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
