<div class="content">
    <div class="container-fluid">
        <div class="content-box m-b-15 m-t-10">
            <div class="page-title-area pb-2 mb-2">
                <div class="d-flex align-items-center d-flex justify-content-between mb-2">
                    <div>
                        <h1 class="f-l">Vertical & Position Mapping</h1>
                    </div>
                    <div>
                        <!-- <button type="button" (click)="createForm()" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal"><i class="las la-plus"></i> Add New</button> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="swichLabel">Vertical</label>
                        <ng-select bindLabel="verticalName" class="ddllocation" [placeholder]="'Select'" [appendTo]="'body'" (change)="onChangeVertical($event)" [multiple]="false" [searchable]="false" [clearable]="false" [(ngModel)]="SelectedVertical">
                            <ng-option [value]="rec.verticalId" *ngFor="let rec of VerticalList">
                                {{rec.verticalName}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Position</label>
                        <ng-select bindLabel="positionName" class="ddltestvenue people_pickr" [placeholder]="'Select'"
                         [appendTo]="'body'" [multiple]="true" [searchable]="true" [clearable]="false" [(ngModel)]="SelectedPosition">
                            <ng-option [value]="rec.positionId" *ngFor="let rec of PositionList">
                                {{rec.positionName}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-black btn-sm" (click)="onSubmit()">Submit</button>
                    <!-- <button type="button" class="btn btn-primary btn-sm ml-2" data-dismiss="modal">Cancel</button>                     -->
                </div>
            </div>          
        </div>
    </div>
</div>

<!-- START: NGX-SPINNER -->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<!-- START: NGX-SPINNER -->

