<div class="content-box m-b-15 m-t-10">
    <div class="page-title-area pb-2 mb-2">
        <h1 class="f-l">All Positions</h1>
    </div>
    <form [formGroup]="searchform" (ngSubmit)="fromSubmit()">
        <div class="filter-sec">
          <div class="form-row m-t-10">
            <div class="col-sm-2">
              <div class="form-group">
                <label>Req No</label>
                <input type="text" class="form-control" formControlName="requisitionNo" #requisitionNo
                       autocomplete="off">
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label>Vertical</label>
                <select class="selectpicker ddlvertical" name="verticalId" title='Select'
                        formControlName="verticalId" #verticalId (change)="changeVertical()" autocomplete="off">
                  <option *ngFor="let rec of verticals" [ngValue]="rec.verticalId">
                    {{rec.verticalName}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label>Location</label>
                <ng-select bindLabel="domainName" [placeholder]="'Select'" [appendTo]="'body'"
                           [multiple]="false" [searchable]="true" [clearable]="false" formControlName="locationId" #locationId>
                  <ng-option *ngFor="let rec of locations" [value]="rec.locationId">
                    {{rec.locationOffice}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label>Function</label>
                <ng-select bindLabel="domainName" [placeholder]="'Select'" [appendTo]="'body'"
                           [multiple]="false" [searchable]="true" [clearable]="false" formControlName="functionId"
                           #functionId>
                  <ng-option *ngFor="let rec of functions" [value]="rec.functionId">
                    {{rec.functionName}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Request Date</label>
                <div class="form-row">
                  <div class="col-sm-6">
                    <div class="input-group datepiker date">
                      <input type="text" class="form-control pull-right datepicker" id="fromdatepicker"
                             placeholder="From Date" #fromDate formControlName="fromDate" autocomplete="off">
                      <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">
                          <i class="fa fa-calendar"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="input-group datepiker date">
                      <input type="text" class="form-control pull-right datepicker" id="todatepicker"
                             placeholder="To Date" #toDate formControlName="toDate" autocomplete="off">
                      <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">
                          <i class="fa fa-calendar"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-sm-1">
              <div class="form-group">
                <label>IOM No.</label>
                <input type="text" class="form-control" formControlName="iOMNo" #iOMNo autocomplete="off">
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label>Status</label>
                <ng-select bindLabel="domainName" [placeholder]="'Select'" [appendTo]="'body'"
                           [multiple]="false" [searchable]="true" [clearable]="false" formControlName="requisitionProcessStatus"
                           #requisitionProcessStatus>
                  <ng-option *ngFor="let rec of statuses" [value]="rec.statusId">
                    {{rec.statusName}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-sm-12 text-right">

              <button type="submit" class="btn btn-primary btn-sm">
                <i class="las la-filter"></i>
                Filter
              </button>
              <button type="button" (click)="reset()" class="btn btn-secondary btn-sm ml-1">
                <i class="las la-sync-alt"></i>
                Reset
              </button>

            </div>

          </div>
        </div>
    </form>


    <div class="table-responsive">

        <table id="dataTable1" class="table table-striped">
            <thead>
                <tr>
                    <th>Req No</th>
                    <th>Requested By</th>
                    <th>Request Type</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th>Function</th>
                    <th>Department</th>
                    <th>IOM</th>
                    <th>Position</th>
                    <th>Grade</th>
                    <th>Approved</th>
                    <th>Request Approved</th>
                    <th>Req Pending Approval</th>
                    <th>Hold</th>
                    <th>Closed</th>
                    <th>Type</th>
                    <th>Target</th>
                    <th>JD</th>
                    <th style="text-align: center;">Approval</th>
                    <th>Approval Status</th>
                    <th>Requisition Status</th>
                    <th>Allocate</th>
                    <th>Salary Range</th>
                    <th style="text-align: center;"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of requisitionLists">
                    <td><a href="javascript:void(0)" (click)="onClickRequisitionNo(data)" data-toggle="modal"
                            data-target="#requisitionDetails" class="red">{{data.requisitionNo}}</a>
                        <a *ngIf="data.requisitionType!='New Requisition'" href="javascript:void(0)" class="red"
                            data-toggle="modal" data-target="#tableModal"
                            (click)="openModalPopup(data.requisitionDetailId,data.requisitionType)">
                            <i class="fa fa-info-circle"></i>
                        </a>
                    </td>
                    <td>{{data.createdByUserName}}</td>
                    <td>{{data.requisitionType}}</td>
                    <td>{{data.locationNo}}</td>
                    <td>{{data.createdOn}}</td>
                    <td>{{data.functionName}}</td>
                    <td>{{data.departmentName}}</td>
                    <td>{{data.iomNo}}</td>
                    <td>{{data.positionName}}</td>
                    <td>{{data.gradeName}}</td>
                    <td class="text-center">{{data.approveCount}}</td>
                    <td class="text-center">{{data.requestApproved}}</td>
                    <td class="text-center">{{data.requestPending}}</td>
                    <td class="text-center">{{data.approveCount - (data.requestApproved+data.requestPending)}}</td>
                    <td class="text-center">{{data.absorbedCount}}</td>
                    <td>{{data.jobTypeName}}</td>
                    <td>{{data.targetDate}}</td>
                    <td>{{data.jobDescriptionName}}</td>
                    <td class="text-center"><img src="{{data.approvalStatusIcon}}" alt="Send For Approval" /></td>
                    <td>{{data.approvalStatus}}</td>
                    <td>{{data.rmProcessStatus}}</td>
                    <td>{{data.allocatedRMUserName}}</td>
                    <td>{{data.salaryName}}</td>
                    <td class="text-center">
                        <div class="row-dropdown">
                            <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"><i class="las la-ellipsis-v"></i></button>
                            <div class="dropdown-menu custom-menu dropdown-menu-right"
                                aria-labelledby="dropdownMenuButton">
                                <a *ngIf="data.requisitionProcessStatusId>2" class="dropdown-item"
                                    href="javascript:void(0)" (click)="gotoAllocateToRM(data.requisitionDetailId)"><i
                                        class="las la-check-square"></i> Take
                                    Action</a>
                                <a class="dropdown-item" href="javascript:void(0)"
                                    (click)="gotoCandidateList(data.requisitionDetailId)"><i
                                        class="las la-file-pdf"></i>
                                    View Candidate</a>
                                <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#onHoldModal"
                                    (click)="onHoldCheck(data)"><i
                                    class="las la-check-square"></i>
                                Check Hold</a>
                                <a *ngIf="data.requisitionProcessStatusId<4 && data.requisitionType=='New Requisition'"
                                    class="dropdown-item" href="javascript:void(0)"
                                    (click)="deleteRequisition(data.requisitionDetailId)"><i
                                        class="las la-check-square"></i> Delete Requisition</a>
                                <a *ngIf="data.requisitionType=='New Requisition'" class="dropdown-item"
                                (click)="openFile(data.managementApprovalDocument)" style="cursor: pointer;"><i
                                        class="las la-file-pdf"></i>
                                    View IOM</a>
                                <a class="dropdown-item" (click)="DownloadJD(data.jdDocument,data.jobDescriptionName)"
                                    href="javascript:void(0)"><i class="las la-file-pdf"></i>
                                    View JD</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="tableModal" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="closeModal" #closeModal data-dismiss="modal"><i
                        class="las la-times"></i></button>
                <h4 class="modal-title">Details</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped" *ngIf="isResignationTable">
                        <thead>
                            <tr>
                                <th>EmpNo</th>
                                <th>EmpName</th>
                                <th>Designation</th>
                                <th>Grade</th>
                                <th>Function</th>
                                <th>Department</th>
                                <th>DOR</th>
                                <th>LWD</th>
                                <th>Sep Int</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of mergeRequisitionList">
                                <td>{{data.empNo}}</td>
                                <td>{{data.empName}}</td>
                                <td>{{data.designation}}</td>
                                <td>{{data.gradeName}}</td>
                                <td>{{data.functionName}}</td>
                                <td>{{data.departmentName}}</td>
                                <td>{{data.dor}}</td>
                                <td>{{data.lwd}}</td>
                                <td><a (click)="openFile(data.sepInt)" style="cursor: pointer;">letter</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped" *ngIf="isSuccessionPlanTable">
                        <thead>
                            <tr>
                                <th>EmpNo</th>
                                <th>EmpName</th>
                                <th>Designation</th>
                                <th>Grade</th>
                                <th>Function</th>
                                <th>Department</th>
                                <th>DOR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of mergeRequisitionList">
                                <td>{{data.empNo}}</td>
                                <td>{{data.empName}}</td>
                                <td>{{data.designation}}</td>
                                <td>{{data.gradeName}}</td>
                                <td>{{data.functionName}}</td>
                                <td>{{data.departmentName}}</td>
                                <td>{{data.dor}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped" *ngIf="isTransferTable">
                        <thead>
                            <tr>
                                <th>EmpNo</th>
                                <th>EmpName</th>
                                <th>Designation</th>
                                <th>Grade</th>
                                <th>Function</th>
                                <th>Department</th>
                                <th>Trans. On</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of mergeRequisitionList">
                                <td>{{data.empNo}}</td>
                                <td>{{data.empName}}</td>
                                <td>{{data.designation}}</td>
                                <td>{{data.gradeName}}</td>
                                <td>{{data.functionName}}</td>
                                <td>{{data.departmentName}}</td>
                                <td>{{data.dor}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- Modal -->
<div class="modal fade" id="requisitionDetails" role="dialog">
    <div class="modal-dialog modal-xl">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="las la-times"></i></button>
                <h4 class="modal-title">Request Details</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped dataTable">
                        <thead>
                            <tr>
                                <th>Req No</th>
                                <th>Requested By</th>
                                <th>Location</th>
                                <th>Date</th>
                                <th>Function</th>
                                <th>Department</th>
                                <th>IOM</th>
                                <th>Position</th>
                                <th>Grade</th>
                                <th>Approved</th>
                                <th>Requested</th>
                                <th>Hold</th>
                                <th>Type</th>
                                <th>Target</th>
                                <th>JD</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of requisitionDetailsArrayPopup; let i=index">
                                <td>{{data.requisitionNo}}</td>
                                <td>{{data.createdByUserName}}</td>
                                <td>{{data.locationNo}}</td>
                                <td>{{data.createdOn}}</td>
                                <td>{{data.functionName}}</td>
                                <td>{{data.departmentName}}</td>
                                <td>{{data.iomNo}}</td>
                                <td>{{data.positionName}}</td>
                                <td>{{data.gradeName}}</td>
                                <td>{{data.approveCount}}</td>
                                <td>{{data.requestCount}}</td>
                                <td>{{data.holdCount}}</td>
                                <td>{{data.jobTypeName}}</td>
                                <td>{{data.targetDate}}</td>
                                <td>{{data.jobDescriptionName}}</td>
                                <td>{{data.rmProcessStatus}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Cancel</button>
                <!-- <button type="button" class="btn btn-black btn-sm" (click)="onConfirmJoiningDate()">Submit</button> -->
            </div>
        </div>
    </div>
</div>
<!-- Modal  end -->

<!-- Hold Modal Start -->
<div class="modal fade" id="onHoldModal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">

     <!-- Modal content-->
     <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" >Do you want to hold this Requisition ?</h4>
        </div>
        <form [formGroup]="updateHoldForm" (ngSubmit)="onHoldUpdate()" autocomplete="off">
          <div class="modal-body">
            <div class="form-row">
              <div class="col-sm-12">
                <div class="form-group">
                    <label class="swichLabel">Hold</label>
                    <label class="switch">
                        <input type="checkbox" id="togBtn" name="togBtn" formControlName="OnHold" name="OnHold" />
                        <div class="slider round">
                            <!--ADDED HTML -->
                                <span class="on">Yes</span><span class="off">No</span>
                            <!--END-->
                        </div>
                    </label>
                </div>
            </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-black btn-sm">Submit</button>
        </div>
        </form>
     </div>
  </div>
</div>
<!-- Hold Modal End -->
