<div class="container-fluid">
    <div class="form-row">
        <div class="col-md-14">
            <div class="form-row">
                <div class="col-md-16">
                    <h6>Dashboard</h6>
                    <div class="form-row">
                        <a roterLink="/addcandidate" class="col-md-6">
                            <div class="status-card type-a d-flex align-items-center justify-content-between">
                                <div class="icon"><img src="images/to-process-icon.png" alt=""></div>
                               
                                <div class="text-right">
                                   
                                    <a routerLink="/addcandidate"><h6>Add Candidate</h6></a> 
                                </div>
                            </div>
                        </a>
                        <a routerLink="/viewallcandidate" class="col-md-6">
                            <div class="status-card type-b d-flex align-items-center justify-content-between">
                                <div class="icon"><img src="images/processing-icon.png" alt=""></div>
                                <div class="text-right">
                                    <h3></h3>
                                    <h6>Take Action</h6>
                                </div>
                            </div>
                        </a>
                        <a routerLink="/jobdescription" class="col-md-6">
                            <div class="status-card type-c d-flex align-items-center justify-content-between">
                                <div class="icon"><img src="images/hired-icon.png" alt=""></div>
                                <div class="text-right">
                                    <h3></h3>
                                    <h6>Job Description</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
              
            </div>
        </div>
       
    </div>
    </div>  