<div class="content-box m-b-15 m-t-10">
    <div class="page-title-area pb-2 mb-2">
        <div class="d-flex align-items-center d-flex justify-content-between mb-2">
            <div>
                <a href="javascript:void(0)" (click)="gotoCandidateList()"  class="back-btn"><i class="las la-arrow-circle-left"></i></a>
                <h1 class="f-l">HR Feedback</h1>
            </div>
        </div>
    </div>
    <div>
        <div class="form-row">
            <div class="col-md-3">
                <p class="d-inline-block grey">Employee ID:</p>
                <p class="d-inline-block">{{empNo}}</p>
            </div>
            <div class="col-md-3">
                <p class="d-inline-block grey">Employee Name:</p>
                <p class="d-inline-block">{{empName}}</p>
            </div>
        </div>

        <hr>
    </div>
    <div>
        <form [formGroup]="saveForm" autocomplete="off">
            <div class="mb-4">
                <h6 class="red">Tell them something you like about their work:</h6>
                <div class="form-group">
                    <label>The best part of your work is</label>
                    <input type="text" class="form-control mb-2" placeholder="Write here" formControlName="Question1Answer" [attr.disabled]="disableAll==true?true:null">
                    <textarea class="form-control" placeholder="Reason" formControlName="Question1Reason" [attr.disabled]="disableAll==true?true:null"></textarea>
                </div>
                <div class="form-group">
                    <label>You did really well or achievement is </label>
                    <input type="text" class="form-control mb-2" placeholder="Write here" formControlName="Question2Answer" [attr.disabled]="disableAll==true?true:null">
                    <textarea class="form-control" placeholder="Reason" formControlName="Question2Reason" [attr.disabled]="disableAll==true?true:null"></textarea>
                </div>
            </div>
            <div class="mb-4">
                <h6 class="red">Ask them something about their work:</h6>
                <div class="form-group">
                    <label>Do you have adequate support(tools/system)to manage your work better</label>
                    <textarea class="form-control" placeholder="Write here..." formControlName="Question3Answer" [attr.disabled]="disableAll==true?true:null"></textarea>
                </div>
                <div class="form-group">
                    <label>Do you have role clarity and expected out-put from the job</label>
                    <textarea class="form-control" placeholder="Write here..." formControlName="Question4Answer" [attr.disabled]="disableAll==true?true:null"></textarea>
                </div>
                <div class="form-group">
                    <label>Do you have any concerns/Grievance/Satisfaction points in your job</label>
                    <textarea class="form-control" placeholder="Write here..." formControlName="Question5Answer" [attr.disabled]="disableAll==true?true:null"></textarea>
                </div>
            </div>
            <div class="mb-4">
                <h6 class="red">Give a suggestion for improvement:</h6>
                <div class="form-group">
                    <label>One thing to improve your work is</label>
                    <input type="text" class="form-control mb-2" placeholder="Write here" formControlName="Question6Answer" [attr.disabled]="disableAll==true?true:null">
                    <textarea class="form-control" placeholder="Reason" formControlName="Question6Reason" [attr.disabled]="disableAll==true?true:null"></textarea>
                </div>
                <div class="form-group">
                    <label>I think your next steps should be </label>
                    <input type="text" class="form-control mb-2" placeholder="Write here" formControlName="Question7Answer" [attr.disabled]="disableAll==true?true:null">
                    <textarea class="form-control" placeholder="Reason" formControlName="Question7Reason" [attr.disabled]="disableAll==true?true:null"></textarea>
                </div>

            </div>
            <div class="mb-4">
                <h6 class="red">Any specific training to be imparted:</h6>
                <div class="form-group">
                    <textarea class="form-control" placeholder="Write here..." formControlName="Question8Answer" [attr.disabled]="disableAll==true?true:null"></textarea>
                </div>
            </div>
            <div class="mt-4"  *ngIf="!showButton">
                <button type="submit" class="btn btn-black" data-toggle="modal" data-target="#confirmPopup">Submit</button>
            </div>
        </form>
    </div>

</div>
<div class="modal fade" id="confirmPopup" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body">
                <div class="conPopIcon"><i class="las la-question-circle"></i></div>
                <h6 class="conComment text-center">Do you want to continue?</h6>
                <div class="mt-4 text-center">
                    <button type="button" class="btn btn-primary" #closeModal data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-black ml-2" (click)="onSubmit()">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>